.App {
  /* text-align: center; */
  background-color: #f1f4f9;
  font-size: 0.7rem ;
  box-sizing: border-box;
}

/* navigation bar styles */
.appName {
  padding-left: 20px;
}
.navWrapper {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.step{
  background-color: #2b61f4;
  color: white;
  display: inline-block;
  width: 25px;
  height: 20px;
  line-height: 0.8px;
  padding: 9px;
  font-weight: 600;
  font-size: smaller;
}
.active{
  background-color: #defbe8;
  color: green;
}

/* screens */
.screens{
  padding: 10px;
}

/* upload page */
.uploader{
  margin: 40px auto;
  padding:70px 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: white; 
  border-radius: 15px;
 }
.dragDropUploader{
  background-color: rgb(239, 237, 237);
  font-size: 15px;
  text-align: center;
  border: 2px dashed rgb(223, 209, 209);
  padding: 40px;
}
.browseLink {
  color: blue;
  display: block;
  font-size: 10px;
}
.btn {
  width: 20%;
  margin: 20px auto;
}

/* previewScreen */
.preview{
  height: 100vh;
  width: 100%;
}
.summaryCards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  line-height:35px;
}
.card{
  padding: 20px 30px;
  margin: 20px 0px;
  width: 20%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); ;
}
.numbers{
  display: inline-block;
  font-weight: 700;
}
.dataFramePreview{
  border: 1px solid rgb(214, 210, 210);
  width:95%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden; /* REQUIRED */
  font-size: 14px;
  padding: 20px 0px;
  background-color: white;
  text-align: center;
}

.dataframeHeader{
  margin: 30px ;
}

table{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  border-collapse: collapse;
}
th{
  background-color: black;
  color: white;
}
th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* process screen */
.inspectionWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  font-size: 13px;
}
.loggings{
  background-color: white;
  width: 35%;
  padding: 40px;
}
.inspection{
  background-color: white;
  width: 60%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  padding: 40px;
}

ul{
   list-style-type:disc;
   padding: 20px 0px;
}
Table{
  text-transform: capitalize;
}







